#acadToasts {
    position: fixed;
    margin-top: 15px;
    z-index: 3000;
    .alert {
        border-radius: unset;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        border: none;
        color: #FFF;
        > button {
            outline: none;

        }
        > .title {
            font-size: 1.3rem;
            font-weight: 500;
            line-height: 1.2;
        }
    }
}