@import "variables_shared";

$acad-sidebar-background: #536DFE !default;
$acad-sidebar-color: $acad-navbar-color !default;
$acad-sidebar-accent:  $acad-navbar-background !default;
$acad-sidebar-hover: $acad-navbar-hover !default;
$acad-sidebar-font-size: 15px !default;
$acad-sidebar-margin: 8px 8px 8px 25px !default;
$acad-sidebar-border-right: $acad-navbar-header-border-right !default;
$acad-sidebar-logo-height: 100px !default;